        /*ส่วนนี้คือ CSS */
        /*ใช้สำหรับเเต่ง (id class)*/
        @font-face {
         font-family: 'Kanit';
         src: url('./Kanit/Kanit-Regular.ttf');
       }
     body { //เปลี่ยนสีพื้นหลังหน้าเว็บ
         font-family: 'Kanit';
         background:url('แคแบ.jpg');
         background-size: cover;
         border-radius: 20px;
         margin: 0;  
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 0px;
     }
     .container {
         font-family: 'Kanit';
         background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
         background-size: cover;
         overflow: hidden;
         color: white;
         width: 100%;
         max-width: 640px;
         margin-left: auto;
         margin-right: auto;
         padding: 40px;
         box-sizing: border-box;
         border-radius: 10px;
         box-shadow: 4p 4px 20px rgba(0, 0, 0, 0.8);
     }
     .header {
         font-size: 30px;
         text-align: center;
         margin-bottom: 20px;
         
     }
     .header-form {
         width: 140px;
         front-weight: normal;
         margin-bottom: 10px;
         padding-left: 10px;
     }
     // flex(gender)
     .flex {
         margin-bottom: 10px;
     }
     
     .form-input {
         margin-bottom: 10px;
         padding-right: 40px;
     }
     input.form , textarea {
         border: 1px solid #ccc;
         background: rgba(255, 255, 255, 0.3);
         color: white;
         letter-spacing: 1px;
         border: 0;
         border-radius:5px;
         width: 100%;
         height: 35px;
         padding-left: 10px;
         max-width: 100%;
     }
     input.form:hover, textarea:hover {
         background: rgba(255, 255, 255, 0.5);
         cursor: pointer;
     }
     .center {
         text-align: center;
     }
     .button {
         font-family: 'Kanit';
         font-size: 15px;
         background: rgb(239, 125, 182);
         border-radius: 25px;
         border: 0;
         width: 50%;
         height: 50px;
         color: white;
         box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
         transition: 0.1s;
         text-shadow: 1px 1px 2px rgb(4, 4, 4);
     }
     button:hover {
         background:rgb(145, 2, 246);
         cursor: pointer;
         transition: 0.3s;
         transform: translateY(-3px);
         box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

     }
     .message {
         margin-buttom: 10px;
         padding: 15px;
         background-color: lightgray;
         color: black;
         display: none;
     }
     .message.success {
         background-color: rgb(229, 162, 215);
         display: block;
         margin-bottom: 20px;
     }
     .message.danger {
         background-color: rgb(148, 170, 235);
         display: block;
         margin-bottom: 20px;
     }

     @media screen and (max-width: 768px) {
         .flex {
             flex-direction: column;
         }
         .header {
             font-size: 24px;
         }
         .button {
             width: 100%;
         }
     }